@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    font-size: .9rem;
    font-family:'Roboto', sans-serif;
    
}

/* Mobile*/


/* NAVBAR */
.header .navbar{
    background-color: rgba(69, 63, 57, 0.8);
    height: 10vh;
}
.header .navbar-collapse{
    background-color: rgba(69, 63, 57);
}
.header .navbar .color-nav{
    color: #fff;
}
.img-inicio{
    background-image:url(../img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    color: #fff;

}
.img-inicio p{
    width: 50%;
}

/* carta sin alcohol, con alcohol */
.main-carta .carta-presentacion{
    color: #fff;
    background: rgba(69, 63, 57);
    width: 300px;
    height: 350px;
    margin: 2px;
    border-radius: 10px;
    padding: 0;
    border: solid 1px white;
    font-weight: 400px;

}
.main-carta .carta-presentacion a{
    text-decoration: none;
    color: #fff;
}
.main-carta .carta-presentacion img{
    width:100%;
    height: 30vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.main-carta .carta-presentacion p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.carrusel .carrusel-img{
    height: 50vh;
    background-size: cover;
}

/* FOOTER */
.footer{
    border-top:solid 1px black;
    height: 10vh;
    padding-top: 1rem;
    background-color: rgba(69, 63, 57);
}

.footer .nav-item i{
    font-size:2rem;
}
.footer .color-nav:hover{
    color: #fff;
}

.footer .color-nav{
    color: #212120
}

/* CARRUSEL INDEX */
.container-cervezas .carousel-item{
    height: 60vh;
}

.carrusel .slide1{
    background-image: url(../img/cervezas.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
    background-position: center;
    height: 50vh;
    text-align: center;
    color: #fff;
    padding-top: 12rem;
    opacity: 0.9;
}
.carrusel .slide2{
    background-image: url(../img/mojitos.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
    background-position: center;
    height: 50vh;
    text-align: center;
    color: #fff;
    opacity: 0.9;

    padding-top: 12rem;

}
.carrusel .slide3{
    background-image: url(../img/licuados.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
    background-position: center;
    height: 50vh;
    text-align: center;
    color: #fff;
    padding-top: 12rem;
    opacity: 0.9;
}
.carrusel h3{
    font-size: 50px;
}
/* FONDO CERVEZA */
.img-cerveza{
    background-image:url(../img/cerveza.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    color: #fff;

}
.galeria-img p{
    width: 50%;
}

/* CONTACTO*/

.main-contacto{
    display: flex;
    width: 100%;
    margin: auto;
}


.formulario-contacto{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    border: solid 1px rgba(69, 63, 57);
    width: 100%;

}
.formulario-contacto .formulario{
    width: 80%;
}

.formulario-contacto label, input{
    display: block;
    padding: 5px;
}

.formulario-contacto input:focus{
    outline: solid 2px rgba(69, 63, 57);
}
.formulario-contacto textarea:focus{
    outline: solid 2px rgba(69, 63, 57);
}

.formulario-contacto input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.formulario-contacto textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 5px;
}

.btn-login{
    border:none;
    padding: 15px 0;
    width: 100%;
    font-weight: bold;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(69, 63, 57);
    color: #fff;
}
.btn-login:hover{
    background-color: #222;
}

/* TABLETS */
@media screen and (min-width:700px) {

    *{
        font-size: 1rem ;
    }
    .main-principal, .sobre-nosotros, .carrusel, .main-cont .main-carta, .main-cerveza{
        width: 80%;
        margin: 0 auto;
    }
    .img-contacto{
        background-color: #212120;
        width: 40%;
        height: 80vh;
    }
    .formulario-contacto{
        width: 60%;
    }
    .main-contacto{
        width: 80%;
        margin: auto;
    }
}

/* DESKTOP */
@media screen and (min-width:992px) {
    *{
        font-size: 1.1rem ;
    }
    .main-principal, .sobre-nosotros, .carrusel, .main-cont .main-carta, .main-cerveza{
        width: 60%;
        margin: 0 auto;
    }
    .header .navbar-collapse{
        background-color:transparent;
    }
    .img-contacto{
        width: 50%;
        height: 80vh;
    }
    .formulario-contacto{
        width: 50%;
    }
    .main-contacto{
        padding: 20px 10px;
    }
}





